{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block top_bar_after_nav %}
    <li>
        <a href="{{ path('homepage') }}">
            {{ 'Budget'|trans }}
        </a>
    </li>
{% endblock %}

{% block sonata_page_content %}
    <div id="wrapper">
        <div id="container">
            <div>
                <h2>Budżet</h2>

                <table class="table">
                    <tr>
                        <th>
                        </th>
                        <th>
                            <strong>Suma:</strong>
                        </th>
                        <th>
                            <strong>Zapłacono:</strong>
                        </th>
                        <th>
                            <strong>Do zapłaty:</strong>{{ budget.leftToPay }}
                        </th>
                        </th>
                    </tr>

                    {% for expense in budget.expenses %}
                        <tr>
                            <th>
                                {{ expense.name }}
                            </th>
                            <td>
                                {{ expense.amount }} {{ price_currency }}
                            </td>
                            <td>
                                {{ expense.leftToPay }} {{ price_currency }}
                            </td>
                            <td>
                                {{ expense.paid }} {{ price_currency }}
                            </td>
                        </tr>
                        {% for deposit in expense.deposits %}
                            <tr>
                                <td colspan="3"></td>
                                <td>{{ deposit.amount }} {{ price_currency }}</td>
                                <td>{{ deposit.message }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    <tfoot>
                    <tr>
                        <th>Suma</th>
                        <th>{{ budget.total }}</th>
                        <th>{{ budget.paid }}</th>
                        <th>{{ budget.leftToPay }}</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <h3>{{ 'Guest'|trans }}</h3>
    <div>
        <strong>{{ userCount.countAdults }}: </strong>{{ costs.adults }}
        <strong>{{ userCount.countKids }}: </strong>{{ costs.kids }}
        <strong>Wszyscy kwota końcowa: </strong>{{ costs.all }} + 250 = {{ costs.all + 250 }}
        <strong>Do wydania:</strong>{{ costs.all + 250 - 1500 - 7000 }}
    </div>
{% endblock %}
