{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        {% if object.priceRange == 1 %}
            <span class="text-warning">
                {{ 'Adult'|trans }}
                <span class="label label-warning">{{ price_person_basic }} {{ price_currency }}</span>
                <span class="label label-warning">{{ price_person_beverages }} {{ price_currency }}</span>
                {% if object.paar == 1 %}
                    <span class="label label-warning">{{ 17 }} {{ price_currency }}</span>
                {% endif %}
            </span>
        {% elseif object.priceRange == 2 %}
            <span class="text-info">
                {{ 'Kid'|trans }}
                <span class="label label-info">{{ price_kid_basic }} {{ price_currency }}</span>
                <span class="label label-info">{{ price_kid_beverages }} {{ price_currency }}</span>
            </span>
        {% elseif object.priceRange == 3 %}
            {{ 'Kid'|trans }}
            <span class="label label-success">{{ 'Free'|trans }}</span>
        {% elseif object.priceRange == 4 %}
            {{ 'Support'|trans }} <span class="label label-primary">{{ 'No Info'|trans }}</span>
        {% elseif object.priceRange == 5 %}
            {{ 'Friend'|trans }} {{ 'Not Applicable'|trans }}
        {% else %}
            <span class="label label-danger">{{ 'Not Defined'|trans }}</span>
            <span class="label label-danger">{{ 'Not Defined'|trans }}</span>
        {% endif %}
    </div>
{% endblock %}
